.display-20{
    font-size: 20rem;
    margin: 0;
}

.display-10{
    font-size: 7rem;
    margin: 0;
}

.display-5{
    font-size: 2rem;
    margin: 0;
}

@include media-breakpoint-down(md) {
    #scorePanel{
        // display: none;
        // position: fixed;
        // bottom: 0;
        // z-index: 9;
        // width: 100%;
        // margin-bottom: 1rem;
    }
    .display-20{
        font-size: 10rem;
        margin: 0;
    }
    .display-10{
        font-size: 5rem;
        margin: 0;
    }
    .display-5{
        font-size: 1.5rem;
        margin: 0;
    }
    h1{
        font-size: 1rem;
    }
}
